<div class="container">
    <hr />
    <p>Fetch the files from CentOS local server.</p>
    <button mat-raised-button color="primary" (click)="toggleDisk()">List Files</button>
    <hr />
    <ng-container *ngIf="show">
        <h3>Log Files</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fileData">
                    <td>{{item.id}}</td>
                    <td>{{item.FileName}}</td>
                    <td>{{item.lastMod}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>